h1.logo {
  font-family: 'corporate-e';
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
span {
  font-family: 'mr-eaves-sans';
  font-weight: 300;
  color: white;
}

p,
span {
  font-size: 18px;
}

ul {
  list-style-type: none;
}